{{> en/partials/header activePageEvents=true }}

<main class="events">
    <hr>
    <div class="eventsswrap">

        {{#each eventsByDay  as |day|}}

            <div class="day">
                <h2>{{@key}}</h2>
                {{#each day as |event|}}
                    {{#each date as |time|}}
                        <div class="event">
                            <div class="time">{{time.time}}</div>
                            <h3><a href="/en/c/{{event.id}}">{{event.name}} </a></h3>
                            <div class="tags">
                                <ul>
                                    {{#each ../locations as |location|}}
                                        <li>
                                            <a href="/en/locations?coords={{location.coordinates}}">
                                                {{location.name}}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/en/locations?coords={{location.coordinates}}">
                                                {{location.room}}
                                            </a>
                                        </li>
                                    {{/each}}
                                    {{#each ../bigBlueButton as |bbb|}}
                                        <li class="bbb">
                                            <a href="{{bbb}}">
                                                video conference
                                            </a>
                                        </li>
                                    {{/each}}
                                    {{#each ../livestream as |livestream|}}
                                        <li class="online">
                                            {{livestream}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        {{/each}}
    </div>
</main>

{{> en/partials/footer }}
