{{> en/partials/header }}

<main class="programm">
    {{#if filterData}}
        <div id="filterline">
            <div>
                {{#each filterParents as |parent|}}
                    {{#if parent.id}}
                        <ul style="margin-left: calc({{@index}} * 20px)">
                            {{#if parent.id}}
                                <li><a href="/en/programme/{{parent.id}}">{{parent.name}}</a></li>
                            {{/if}}
                        </ul>
                        {{#greaterThan ../filterParents.length @index}}
                        {{else}}
                            {{#if ../filterData.children}}
                                <ul style="margin-left: calc(({{@index}} + 1) * 20px)">
                                    {{#each ../filterData.children as |child|}}
                                        <li><a href="/en/programme/{{child.id}}">{{child.name}}</a></li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        {{/greaterThan}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <hr>
    {{/if}}
    {{#if locationData}}
        <div id="filterline">
            <div>
                <ul class="tags"><li class="active">{{locationData.name}}</li></ul>
            </div>
        </div>
        <hr>
    {{/if}}
    <div class="projectswrap">
        {{#each studentprojects}}
            <div class="projecttile" data-ref="item" data-fakultaet="musik" data-studiengang="studiengang2" data-kontext="kontext4" data-analogdigital="+online" data-locations="hardenbergstrasse33">
                <a href="/en/c/{{ id }}">
                    <div class="image">
                        {{#if thumbnail}}
                            <img src="{{ thumbnail }}" alt="{{ title }}" width="100%" />
                        {{else}}
                            <div style="background: #ffd246; display: block; height: 190px; width: 100%"></div>
                        {{/if}}
                        <div class="flags">
                        </div>
                        <div class="hoverinfo">
                            <p>{{ topicEn }}</p>
                        </div>
                    </div>
                    <div class="info">
                        <h2>{{ name }}</h2>
                        <div>
                            {{#each authors}}
                                {{.}}{{#greaterThan ../authors.length @index}}, {{/greaterThan}}
                            {{/each}}
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</main>

{{> en/partials/footer }}
