{{> en/partials/header }}

<main class="singleproject">
    <a href="/en/programme"><div class="projectclose"></div></a>
    <a href="/en/programme"><div class="back"></div></a>
    <div class="projectmain">
        <h2 class="projecttitle">{{ studentproject.name }}</h2>

        <div class="students tagbubble">
            {{#each studentproject.authors}}
                <span>{{.}}</span>
            {{/each}}
            {{#if studentproject.credit}}
                {{#each studentproject.credit}}
                    <span>{{.}}</span>
                {{/each}}
            {{/if}}
        </div>

        {{#if studentproject.thumbnail_full_size}}
            <img src="{{ studentproject.thumbnail_full_size }}" alt="" />
        {{/if}}

        {{#if studentproject.topicEn}}
            <p>{{ studentproject.topicEn }}</p>
        {{/if}}

        {{#each studentproject.content}}
            {{{ formatted_content }}}
        {{/each}}
    </div>
    <div class="info">
        {{#if studentproject.parent}}
            <div class="label">Context</div>
            <div class="tagbubble">
                {{#each bubbles as |hierarchyElement|}}
                    <span><a href="/en/programme/{{hierarchyElement.id}}">{{ hierarchyElement.name }}</a></span>
                {{/each}}
            </div>
        {{/if}}
    </div>
</main>

<script src="/assets/js/green-audio-player.min.js"></script>
<script src="/assets/js/studentproject.js"></script>

{{> en/partials/footer }}
