{{> de/partials/header activePageEvents=true }}

<main class="events">
    <br>
    <div class="eventsswrap">

        {{#each eventsByDay  as |day|}}

            <div class="day">
                <h2>{{formatDateGerman @key}}</h2>
                {{#each day as |event|}}
                    {{#each date as |time|}}
                        <div class="event">
                            <div class="time">{{time.time}}</div>
                            <h3><a href="/c/{{event.id}}">{{event.name}}</a></h3>
                            <div class="tags">
                                <ul>
                                    {{#each ../locations as |location|}}
                                        {{#if location.name}}
                                            <li>
                                                <a href="/orte?coords={{location.coordinates}}">
                                                    {{location.name}}
                                                </a>
                                            </li>
                                        {{/if}}
                                        {{#if location.room}}
                                            <li>
                                                <a href="/orte?coords={{location.coordinates}}">
                                                    {{location.room}}
                                                </a>
                                            </li>
                                        {{/if}}
                                    {{/each}}
                                    {{#each ../bigBlueButton as |bbb|}}
                                        <li class="bbb">
                                            <a href="{{bbb}}" target="_blank">
                                                Videokonferenz
                                            </a>
                                        </li>
                                    {{/each}}
                                    {{#each ../livestream as |livestream|}}
                                        <li class="online">
                                             <a href="{{livestream}}" target="_blank">
                                                Livestream
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        {{/each}}
    </div>
</main>

{{> de/partials/footer }}
