{{> de/partials/header activePageProgramm=true }}

<main class="programm">
    <hr>
    <div class="projectswrap">
        {{#each studentprojects}}
            <div class="projecttile" data-ref="item" data-fakultaet="musik" data-studiengang="studiengang2" data-kontext="kontext4" data-analogdigital="+online" data-locations="hardenbergstrasse33">
                <a href="/c/{{ id }}">
                    <div class="image">
                        {{#if thumbnail}}
                            <img src="{{ thumbnail }}" alt="{{ title }}" width="100%" />
                        {{else}}
                            <div style="background: #ffd246; display: block; height: 160px; width: 100%"></div>
                        {{/if}}
                        <div class="flags">
                            {{#unless location}}
                                <div class="online">Nur Online</div>
                            {{/unless}}
                        </div>
                        <div class="hoverinfo">
                            <p>{{ topicDe }}</p>
                        </div>
                    </div>
                    <div class="info">
                        <h2>{{ name }}</h2>
                        <div>
                            {{#each authors}}
                                {{.}}{{#greaterThan ../authors.length @index}}, {{/greaterThan}}
                            {{/each}}
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</main>

{{> de/partials/footer }}
