{{> de/partials/header }}

<main class="singleproject">
    <a href="/programm"><div class="projectclose"></div></a>
    <a href="/programm"><div class="back"></div></a>

    <div class="projectmain">
        <h2 class="projecttitle">{{ studentproject.name }}</h2>

        <div class="students tagbubble">
            {{#each studentproject.authors}}
                <span>{{.}}</span>
            {{/each}}
            {{#if studentproject.credits}}
                {{#each studentproject.credits}}
                    <span>{{.}}</span>
                {{/each}}
            {{/if}}
        </div>

        {{#if studentproject.parent}}
            <div class="label">Kontext</div>
            <div class="tagbubble">
                {{#each bubbles.context as |hierarchyElement|}}
                    <span><a href="/programme/{{hierarchyElement.id}}">{{ hierarchyElement.name }}</a></span>
                {{/each}}
            </div>
        {{/if}}

        <div>
            {{#if bubbles.locations.length}}
                <div class="label">Ort</div>
                {{#each bubbles.locations as |location|}}
                    <div class="tagbubble">
                        <span>
                            <a href="/orte?coords={{location.coordinates}}">
                                {{ location.name }}
                            </a>
                        </span>
                        {{#if location.room}}
                            <span>
                                <a href="/orte?coords={{location.coordinates}}">
                                    {{location.room}}
                                </a>
                            </span>
                        {{/if}}
                    </div>
                {{/each}}
            {{/if}}
        </div>

        {{#if studentproject.thumbnail_full_size}}
            <img src="{{ studentproject.thumbnail_full_size }}" alt="" />
        {{/if}}

        {{#if studentproject.topicDe}}
            <p>{{ studentproject.topicDe }}</p>
        {{/if}}

        {{#each studentproject.content}}
            {{{ formatted_content }}}
        {{/each}}
    </div>
</main>

<script src="/assets/js/green-audio-player.min.js"></script>
<script src="/assets/js/studentproject.js"></script>

{{> de/partials/footer }}
